@media (max-width: 1440px){
    .spam{
        display: none;
    }
}
@media (min-width: 768px) and (max-width: 1024px){
    .country-text-card{
        padding: 15px;
    }
    .visa-check {
        padding: 310px 0;
    }
    .country-documents{
        padding-bottom: 45px;
    }
    .modal-window{
        padding: 15px;
    }
    .modal-window--small,
    .modal-window--huge,
    .modal-window--big{
        width: 90%;
    }
    .header{
        padding-bottom: 310px;
    }
    .variants{
        padding-bottom: 280px;
    }
    .contacts-map {
        width: 50%;
        flex-grow: 1;
    }
    .passport__text-block, .passport__img-block {
        max-width: 45%;
    }
    .passport__img-block{
        align-items: flex-end;
    }
    .insurance__block{
        width: 585px;
    }
    .variants__items,
    .counties__list{
        justify-content: center;
    }
    .document-docs{
        justify-content: center;
    }
    .document-docs__b{
        margin: 15px;
    }
    .documents-additional{
        width: 33.3333333%;
        margin-bottom: 30px;
    }
    .title{
        text-align: center;
    }
    .reward:after{
        left: -50px;
    }
    .reward:before{
        right: -50px;
    }
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){
    .visa-check__title{
        width: 40%;
    }
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){
    .modal-window__search {
        width: 50%;
    }
    .modal-window-countries__block{
        width: 100%;
    }
    .navigation__link{
        margin-right: 15px;
    }
    .documents-needs{
        margin: 0 auto;
    }
    .counties__list-item{
        width: 50%;
    }
    .top-form__form-group{
        margin-right: 0;
    }
    .inp-top-form{
        height: 50px;
        line-height: 50px;
        margin: 5px;
    }
    .btn--top-form{
        margin: 30px auto 0 auto;
    }
    .variants-item{
        width: 50%;
    }
    .processing-item{
        width: 33.33333333%;
        margin-bottom: 30px;
    }
    .processing-item__circle{
        margin-left: auto;
        margin-right: auto;
    }
    .visa-check__title{
        width: 100%;
        text-align: center;
    }
    .visa-check__form{
        margin-top: 30px;
        margin-right: auto;
    }
}
@media (min-width: 320px) and (max-width: 767px){
    .country-text{
        margin: 45px 0;
    }
    .country-documents{
        padding: 30px 0;
    }
    .country-seo{
        padding-bottom: 45px;
    }
    .country-text__list-wrapper,
    .country-text__endblock{
        margin-bottom: 30px;
    }
    .country-top-screen__title,
    .country-text__title{
        font-size: 26px;
    }
    .modal-window{
        padding: 15px;
    }
    .modal-window--small,
    .modal-window--huge,
    .modal-window--big{
        max-width: 80%;
    }
    .modal-window-countries__block{
        width: 100%;
    }
    .modal-window-countries__info,
    .modal-window-countries__action{
        margin-left: 0;
        padding-left: 37px;
    }
    .modal-window__search{
        margin-top: 10px;
    }
    .modal-window-list{
        max-height: 400px;
    }
    .modal-window-list__block{
        width: 50%;
    }
    .modal-window__title{
        font-size: 26px;
    }
    .m-nav{
        display: block;
    }
    .header{
        padding-bottom: 50px;
    }
    .navigation{
        flex-wrap: wrap;
    }
    .title--counties{
        margin: 30px 0;
    }
    .top-screen__row{
        justify-content: center;
        margin: 30px 0;
    }
    .top-form{
        margin-top: 30px;
    }
    .top-screen__tel{
        margin-top: 15px;
        font-size: 18px;
    }
    .top-screen__title{
        font-size: 36px;
    }
    .variants{
        padding: 30px 0 0 0;
    }
    .title--variants,
    .title--documents,
    .documents__top{
        margin-bottom: 30px;
    }
    .title--additionals{
        margin: 30px 0;
    }
    .insurance{
        padding: 50px 0;
    }
    .label-insurance{
        margin: 10px 0;
    }
    .passport__title{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .passport__img-block{
        align-items: center;
        margin-top: 15px;
    }
    .visa-check{
        padding: 50px 0;
        background: url(../img/visa-check-bg.jpg) no-repeat center;
    }
    .rewards,
    .processing{
        padding: 30px 0;
    }
    .processing__title{
        margin-bottom: 30px;
    }
    .contacts{
        padding-bottom: 30px;
    }
    .footer{
        padding: 30px 0;
    }
    .footer-description{
        margin-top: 15px;
    }
    .documents{
        padding-bottom: 15px;
    }

}
@media (min-width: 320px) and (max-width: 767px) and (orientation: landscape){
    .country-text__cards-item{
        width: 50%;
    }
}
@media (min-width: 320px) and (max-width: 767px) and (orientation: portrait){
    .country-text__cards-item{
        width: 100%;
    }
    .country-text__list{
        width: 100%;
    }
    .navigation{
        display: none;
        height: auto;
    }
    .navigation__link,
    .navigation__select{
        width: 100%;
        margin-right: 0;
        justify-content: center;
        padding: 10px 0;
        border-bottom:none;

    }
    .top-screen__row{
        justify-content: space-between;
        margin: 30px 0;
    }
    .footer-block:nth-child(2),
    .footer-block:nth-child(3){
        width: 50%;
    }
    .contacts__title{
        margin-bottom: 10px;
    }
    .contacts-tabs__link{
        margin-top: 10px;
    }
    .insurance__description{
        width: 100%;
        margin-top: 15px;
    }
    .insurance-row{
        margin-bottom: 0;
    }
    .documents-needs__sign{
        margin-right: 5px;
    }
    .documents-item--big {
        padding: 10px 15px 25px 15px;
        margin-bottom: 15px;
    }
    .document-docs__b{
        width: 100%;
        margin-bottom: 15px;
    }
    .documents-additional{
        width: 50%;
        margin-bottom: 30px;
    }
    .counties__list-item{
        width: 100%;
        margin-bottom: 15px;
    }
    .processing-item__circle{
        width: 145px;
        height: 145px;
    }
    .processing-item__circle:after {
        width: 130px;
        height: 130px;
    }
    .title,
    .documents-needs__number,
    .insurance__title,
    .passport__title,
    .processing__title,
    .title--additionals{
        font-size: 30px;
        text-align: center;
    }
    .top-form__form-group{
        margin-right: 0;
    }
    .inp, .inp-top-form{
        width: 100%;
        height: 40px;
        line-height: 40px;
        margin-bottom: 10px;
    }
    .counties-country__flag{
        width: 80px;
        min-width: 80px;
    }
    .counties-country{
        padding: 15px;
    }
    .documents-needs__number{
        font-size: 40px;
    }
    .insurance-b-halh{
        width: 100%;
    }
    .reward:after, .reward:before{
        display: none;
    }
    .visa-check__title{
        width: 100%;
        text-align: center;
        font-size: 18px;
    }
    .btn-red{
        height: 40px;
        line-height: 40px;
        margin: 15px auto 0 auto;
    }
    .top-screen__description{
        font-size: 18px;
    }
    .inp--visa-check{
        width: 100%;
    }
    .insurance__block{
        width: 100%;
    }
    .visa-check__form{
        flex-wrap: wrap;
    }
    .rewards-item{
        width: 100%;
        margin-bottom: 15px;
    }
    .footer-block{
        width: 100%;
        margin-top: 15px;
    }
    .footer-info,
    .footer-info--no-title{
        padding-top: 0;
        margin-top: 0;
    }
    .footer-info__block:first-child{
        margin-top: 0;
    }
}
@media (min-width: 320px) and (max-width: 360px) and (orientation: portrait){
    .processing-items{
        justify-content: center;
    }
    .documents-additional{
         width: 100%;
         margin-bottom: 15px;
    }
}