@font-face {
    font-family: 'Gotham Pro Bold';
    src: url('../fonts/GothamPro-Bold.eot');
    src: url('../fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamPro-Bold.woff') format('woff'),
    url('../fonts/GothamPro-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham Pro Black';
    src: url('../fonts/GothamPro-Black.eot');
    src: url('../fonts/GothamPro-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamPro-Black.woff') format('woff'),
    url('../fonts/GothamPro-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham Pro Regular';
    src: url('../fonts/GothamPro.eot');
    src: url('../fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamPro.woff') format('woff'),
    url('../fonts/GothamPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*General*/
html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    font-family: 'Gotham Pro Regular', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing:grayscale;
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    outline: none;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}
input, textarea, button, select{
    outline: none;
    border:none;
}
button{
    padding: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
img{
    display: block;
    max-width: 100%;
}
.dn{
    display: none;
}
.body-ovh{
    overflow: hidden;
}
.container{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}
.inp,
.txt{
    width: 100%;
    padding: 0 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0px -1px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0px -1px 0px rgba(0,0,0,0.1);
    box-shadow: inset 0px -1px 0px rgba(0,0,0,0.1);
    font-family:'Gotham Pro', sans-serif;
    font-size: 16px;
    color: #222222;
}
.txt{
    height: 100px;
    padding-top: 20px;
    resize: none;
}
.inp{
    height: 60px;
    line-height: 60px;
}
.inp::-webkit-input-placeholder {
    color: #222222;
}
.inp::-moz-placeholder {
    color: #222222;
}
.inp:-ms-input-placeholder {
    color: #222222;
}
.inp:-moz-placeholder {
    color: #222222;
}
.txt::-webkit-input-placeholder {
    color: #222222;
}
.txt::-moz-placeholder {
    color: #222222;
}
.txt:-ms-input-placeholder {
    color: #222222;
}
.txt:-moz-placeholder {
    color: #222222;
}
.btn-red{
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #c73733;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-family:'Gotham Pro Bold', sans-serif;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    -webkit-box-shadow: 0 5px 20px rgba(199, 55, 51, 0.5);
    -moz-box-shadow: 0 5px 20px rgba(199, 55, 51, 0.5);
    box-shadow: 0 5px 20px rgba(199, 55, 51, 0.5);
    cursor: pointer;
    background: -webkit-gradient(linear, left bottom, left top, from(#bc2d29), to(#d2423d));
    background: -o-linear-gradient(bottom, #bc2d29, #d2423d);
    background: linear-gradient(to top, #bc2d29, #d2423d);
}
.btn-red:hover{
    background: -webkit-gradient(linear, left top, left bottom, from(#bc2d29), to(#d2423d));
    background: -o-linear-gradient(top, #bc2d29, #d2423d);
    background: linear-gradient(to bottom, #bc2d29, #d2423d);
}
.inp-select-wrapper{
    overflow: hidden;
    background: #fafafa url("../img/select-arrow.png") no-repeat 93% 50%;
}
.inp-select-wrapper select{
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}
.title{
    font-family:'Gotham Pro Bold', sans-serif;
    font-size: 40px;
    color: #222222;
}
/*Header*/
.header{
    position: relative;
    padding-bottom: 510px;
    background: url("../img/header-bg.jpg") no-repeat center top;
}
.top-screen{
    padding: 0 15px;
}
.top-screen__row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 0 70px 0;
}
.top-screen__tel{
    font-family:'Gotham Pro Bold', sans-serif;
    font-size: 30px;
    color: #ffffff;
}
.top-screen__title{
    font-size: 70px;
    color: #ffffff;
}
.top-screen__title span{
    font-family:'Gotham Pro Bold', sans-serif;
}
.top-screen__description{
    margin-top: 10px;
    max-width: 600px;
    font-size: 25px;
    color: #ffffff;
}
.top-form{
    display: flex;
    flex-wrap: wrap;
    margin-top: 65px;
}
.btn--top-form{
    width: 180px;
    height: 70px;
    line-height: 70px;
}
.top-form__form-group{
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    margin-right: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
}
.inp-top-form{
    flex-grow: 1;
    height: 70px;
    line-height: 70px;
    padding: 5px 15px 5px 49px;
    font-size: 16px;
    color: #222222;
}
.inp-top-form::-webkit-input-placeholder {
    color: #222222;
}
.inp-top-form::-moz-placeholder {
    color: #222222;
}
.inp-top-form:-ms-input-placeholder {
    color: #222222;
}
.inp-top-form:-moz-placeholder {
    color: #222222;
}
.inp-top-form--name{
    background: url("../img/top-form-name.png") no-repeat 18px center, #ffffff;
    border-right: 1px solid #e3e3e3;
}
.inp-top-form--tel{
    background: url("../img/top-form-tel.png") no-repeat 18px center, #ffffff;
    border-right: 1px solid #e3e3e3;
}
.inp-top-form--email{
    background: url("../img/top-form-email.png") no-repeat 18px center, #ffffff;
}
/*Navigation*/
.m-nav{
    display: none;
    width: 60px;
    height: 60px;
    margin-left: auto;
    margin-right: 15px;
    padding: 15px;
}
.m-nav span{
    display: block;
    width: 100%;
    height: 2px;
    margin: 6px 0;
    background-color: #fff;
}
.navigation{
    display: flex;
    height: 80px;
    padding: 0 15px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
.navigation__link{
    display: flex;
    align-items: center;
    margin-bottom: -1px;
    margin-right: 40px;
    font-size: 14px;
    color: #a6a9b8;
}
.navigation__link:hover,
.navigation__link_active{
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
}
.navigation__select{
    display: flex;
    align-items: center;
    margin-left: auto;
    font-size: 14px;
    color: #ffffff;
}
.arrow--navigation{
    display: inline-block;
    width: 8px;
    height: 5px;
    margin-left: 15px;
    background: url("../img/top-menu-arrow.png") no-repeat center center;
}
/*Counties*/
.counties{
    position: relative;
}
.countries-variants-bg{
    background: url("../img/countries-variants-bg.png") no-repeat center bottom;
}
.title--counties{
    padding: 0 15px;
    margin-bottom: 60px;
}
.counties__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.counties__list-item{
    width: 390px;
    padding: 0 15px;
    margin-bottom: 30px;
}
.counties-country{
    display: flex;
    padding: 30px;
    background-color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #deeaf3;
    -webkit-box-shadow:  0 5px 20px rgba(31,76,105,0.05);
    -moz-box-shadow:  0 5px 20px rgba(31,76,105,0.05);
    box-shadow:  0 5px 20px rgba(31,76,105,0.05);
}
.counties-country__flag{
    min-width: 95px;
    margin-right: 25px;
}
.counties-country__text{
    flex-grow: 0;
}
.counties-country__name{
    font-family:'Gotham Pro Bold', sans-serif;
    font-size: 16px;
    line-height: 14px;
    color: #222222;
}
.counties-country__link-more{
    font-size: 14px;
    color: #222222;
}
.counties-country__link-get{
    display: inline-block;
    margin-top: 15px;
    font-family:'Gotham Pro Bold', sans-serif;
    font-size: 16px;
    color: #0d1d50;
}
.counties-country__link-more:hover,
.counties-country__link-get:hover{
    color: #c73733;
}
.counties-country__link-get span{
    display: inline-block;
    vertical-align: middle;
}
.counties-country__link-get span:first-child{
    width: 20px;
    height: 20px;
    margin-right: 6px;
    background: url("../img/countries-globe.png") no-repeat center center;
}
.counties__more{
    display: block;
    width: 205px;
    height: 70px;
    line-height: 70px;
    margin: 0 auto;
}
.spinner-btn{
    display: inline-block;
    vertical-align: text-bottom;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    background: url("../img/countries-spinner.png") no-repeat center center;
}
/*Variants*/
.variants{
    padding: 95px 0 480px 0;
}
.title--variants{
    padding: 0 15px;
    margin-bottom: 50px;
}
.variants__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.variants-item{
    width: 390px;
    padding: 0 15px;
    margin-bottom: 30px;
}
.variants-item__box{
    background-color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow:  0 5px 20px rgba(31,76,105,0.05);
    -moz-box-shadow:  0 5px 20px rgba(31,76,105,0.05);
    box-shadow:  0 5px 20px rgba(31,76,105,0.05);
    overflow: hidden;
}
.variants-item__head{
    position: relative;
    padding: 30px 0 25px 0;
    background-color: #c73733;
    color: #ffffff;
    text-align: center;
}
.variants-item__head:after{
    content: "";
    position: absolute;
    bottom: -14px;
    left: 0;
    width: 0;
    height: 0;
    border-top: 14px solid #c73733;
    border-right: 360px solid transparent;
}
.variants-item__text-one{
    font-family:'Gotham Pro Bold', sans-serif;
    font-size: 20px;
}
.variants-item__text-two{
    font-size: 14px;
}
.variants-item__text-three{
    margin-top: 5px;
    font-family:'Gotham Pro Bold', sans-serif;
    font-size: 20px;
}
.variants-item__list{
    margin: 30px;
}
.variants-item__list-item{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 13px;
    color: #666666;
}
.variants-item__list-sign{
    width: 16px;
    height: 16px;
    margin-right: 10px;
    background: url("../img/documents-bulllet.png") no-repeat center center;
}
.variants-item__btn{
    padding-bottom: 35px;
}
.variants-item__link{
    display: block;
    width: 202px;
    height: 52px;
    margin: 0 auto;
    line-height: 52px;
    font-size: 14px;
}
/*Documents*/
.documents{
    position: relative;
}
.documents__inner{
    padding: 0 15px;
}
.title--documents{
    margin-bottom: 60px;
}
.documents__top{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
}
.documents-needs{
    width: 460px;
}
.documents-img{
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.documents-item--big{
    padding: 10px 30px 25px 30px;
    margin-bottom: 30px;
}
.documents-item--big:after{
    width: 140px;
    height: 140px;
}
.documents-item--big:before{
    width: 100px;
    height: 100px;
}
.documents-needs__head{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.documents-needs__title{
    width: 170px;
    font-family:'Gotham Pro Bold', sans-serif;
    font-size: 20px;
    color: #222222;
}
.documents-needs__number{
    font-family:'Gotham Pro Black', sans-serif;
    font-size: 60px;
    color: #cbdfeb;
}
.documents-needs__row{
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 13px;
    color: #666666;
}
.documents-needs__sign{
    flex: 0 0 16px;
    width: 16px;
    height: 16px;
    margin-right: 15px;
    background: url("../img/documents-bulllet.png") no-repeat center center;
}
.document-docs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.document-docs__b{
    width: 262px;
}
.documents-item{
    position: relative;
    border: 1px solid #deeaf3;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    overflow: hidden;
}
.documents-item:after,
.documents-item:before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    background-color: rgba(221,233,242,0.5);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    -webkit-transform: translate(50%, -50%);
    -moz-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
    -o-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    z-index: -1;
}
.documents-item--small{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
}
.documents-item--small:after{
    width: 100px;
    height: 100px;
}
.documents-item--small:before{
    width: 72px;
    height: 72px;
}
.document-docs__text{
    margin-left: 20px;
}
.document-docs__img img{
    display: block;
}
.document-docs__name{
    font-family:'Gotham Pro Bold', sans-serif;
    font-size: 16px;
    color: #222222;
}
.document-docs__link{
    font-family:'Gotham Pro Bold', sans-serif;
    font-size: 12px;
    color: #c73733;
    border-bottom: 1px solid #c73733;
}
.title--additionals{
    margin: 85px 0 70px 0;
}
.documents-additionals{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.documents-additional{
    width: calc(100% / 6);
    display: flex;
    flex-wrap: wrap;
    flex-grow: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    text-align: center;
    font-size: 14px;
}
.documents-additional__title{
    margin: 15px 0;
    font-family:'Gotham Pro', sans-serif;
    color: #222222;
}
.documents-additional__link{
    margin-top: auto;
    font-family:'Gotham Pro Bold', sans-serif;
    color: #c73733;
    border-bottom: 1px solid #c73733;
}
/*Insurance*/
.insurance{
    padding: 350px 0 270px 0;
    background: url("../img/insurance-bg.jpg") no-repeat center center;
}
.insurance__inner{
    display: flex;
    flex-wrap: wrap;
}
.insurance__block{
    width: 50%;
    margin-left: auto;
    padding: 0 15px;
}
.insurance__title{
    margin-bottom: 40px;
    font-family:'Gotham Pro Bold', sans-serif;
    font-size: 40px;
    color: #ffffff;
}
.insurance__description{
    width: 360px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #ffffff;
}
.insurance-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}
.insurance-b-halh{
    width: 262px;
}
.insurance-b-full{
    width: 100%;
}
.label-insurance{
    position: relative;
    display: block;
    padding-left: 45px;
    font-size: 13px;
    color: #20436b;
}
.checkbox-insurance{
    display: none;
}
.label-insurance:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.label-insurance:after{
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #c73733;
}
.checkbox-insurance:checked + .label-insurance:after{
    background: url("../img/insurance-check.png") no-repeat center center, #c73733;
    -webkit-box-shadow: 0 5px 20px rgba(199, 55, 51, 0.5);
    -moz-box-shadow: 0 5px 20px rgba(199, 55, 51, 0.5);
    box-shadow: 0 5px 20px rgba(199, 55, 51, 0.5);
}
/*Passport*/
.passport{
    position: relative;
    padding-bottom: 35px;
}
.passport__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 15px;
}
.passport__text-block,
.passport__img-block{
    width: 100%;
    max-width: 555px;
}
.passport__img-block{
    display: flex;
    justify-content: center;
}
.passport__title{
    margin-top: 10px;
    margin-bottom: 50px;
    font-family:'Gotham Pro Bold', sans-serif;
    font-size: 40px;
    color: #222222;
}
.passport__paragraph{
    font-size: 13px;
    color: #222222;
    margin:0 0 10px 0;
}
.btn--passport{
    display: block;
    width: 260px;
    margin-top: 25px;
    margin-left: auto;
}
/*Visa Check*/
.visa-check{
    padding: 310px 0 400px 0;
    background: url("../img/visa-check-bg.jpg") no-repeat center top;

}
.visa-check__inner{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 0 15px;
}
.visa-check__title{
    width: 480px;
    font-family:'Gotham Pro Bold', sans-serif;
    font-size: 40px;
    color: #0d1d50;
}
.visa-check__form{
    display: flex;
    margin-top: 10px;
    margin-left: auto;
}
.inp--visa-check{
   width: 360px;
}
.btn--visa-check{
   width: 165px;
    margin-left: 30px;
}
/*Rewards*/
.rewards-items{
    display: flex;
    flex-wrap: wrap;
}
.rewards-item{
    display: flex;
    justify-content: center;
    width: 50%;
}
.reward{
    position: relative;
    font-family:'Gotham Pro Bold', sans-serif;
    color: #0d1d50;
    text-align: center;
}
.reward:after,
.reward:before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 63px;
    height: 100px;
}
.reward:after{
    left: -80px;
    background: url("../img/reward-decor-l.png") no-repeat center center;
    -webkit-background-size: contain;
    background-size: contain;
}
.reward:before{
    right: -80px;
    background: url("../img/reward-decor-r.png") no-repeat center center;
    -webkit-background-size: contain;
    background-size: contain;
}
.reward__big-text{
    font-size: 60px;
}
.reward__small-text{
    font-size: 18px;
}
/*Processing*/
.processing{
    padding: 85px 0 95px 0;
}
.processing__inner{
    padding: 0 15px;
}
.processing__title{
    margin-bottom: 60px;
    font-family:'Gotham Pro Bold', sans-serif;
    font-size: 40px;
    color: #222222;
}
.processing-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.processing-item__circle{
    position: relative;
    width: 165px;
    height: 165px;
    background-color: #fff;
    border: 1px solid #deeaf3;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-shadow: 0 5px 20px rgba(31, 76, 105, 0.05);
    -moz-box-shadow: 0 5px 20px rgba(31, 76, 105, 0.05);
    box-shadow: 0 5px 20px rgba(31, 76, 105, 0.05);
}
.processing-item__circle:after,
.processing-item__circle:before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    background-color: rgba(221,233,242,0.5);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.processing-item__circle:after{
    width: 140px;
    height: 140px;
}
.processing-item__circle:before{
    width: 100px;
    height: 100px;
}
.processing-item__img{
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 3;
}
.processing-item__title{
    margin-top: 20px;
    font-family:'Gotham Pro Black', sans-serif;
    font-size: 18px;
    text-align: center;
    color: #222222;
}
/*Contacts*/
.contacts{
    position: relative;
    padding-bottom: 100px;
    font-size: 14px;
}
.contacts__inner{
    display: flex;
    flex-wrap: wrap;
    margin: 0 14px;
    border: 1px solid #deeaf3;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
}
.contacts-map{
    width: 780px;
}
.contacts-info{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 360px;
}
.contacts-info__inner{
    padding: 15px;
}
.contacts__title{
    margin-bottom: 20px;
    font-family: 'Gotham Pro Bold', sans-serif;
    font-size: 30px;
    color: #0d1d50;
}
.contacts-tabs__link{
    display: inline-block;
    margin-right: 5px;
    font-family: 'Gotham Pro Bold', sans-serif;
    color: #666666;
}
.contacts-tabs__link:hover,
.contacts-tabs__link_active{
    color: #c73733;
    text-decoration: underline;
}
.contacts-tabs__control{
    margin-bottom: 20px;
}
.contacts-tabs__content{
    display: none;
    color: #0d1d50;
}
.contacts-tabs__content_active{
    display: block;
}
.contacts-tabs__content-block{
    margin-bottom: 15px;
}
.contacts-info-socials{
    margin-top: 10px;
}
.contacts-info-socials__link{
    display: inline-block;
    margin-right: 10px;
}
.contacts-info-socials__link img{
    display: block;
}
/*Footer*/
.footer{
    padding: 95px 0 90px 0;
    background-color: #0d1d50;
    color: #ffffff;
}
.footer__inner{
    display: flex;
    flex-wrap: wrap;
}
.footer-block{
    width: 25%;
    padding: 0 15px;
}
.footer-logo{
    display: inline-block;
}
.footer-description{
    margin-top: 50px;
    font-size: 12px;
    color: #989bac;
}
.footer-menu__title{
    font-family: 'Gotham Pro Bold', sans-serif;
    font-size: 14px;
}
.footer-menu__item{
    margin-top: 10px;
}
.footer-menu__link{
    font-size: 14px;
    color: #ffffff;
}
.footer-menu__link:hover,
.footer-menu__link--red{
    color: #c73733;
}
.footer-info{
    margin-top: 50px;
    font-size: 14px;
}
.footer-info--no-title{
    padding-top: 21px;
}
.footer-info__title{
    font-family: 'Gotham Pro Bold', sans-serif;
    font-size: 18px;
}
.footer-info__block{
    margin-top: 15px;
}
.footer-info__small-title{
    color: #989bac;
}
.footer-info__link{
    color: #ffffff;
}
.footer-info__link:hover{
    color: #c73733;
}
/*Modal*/
.modal{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(26,42,93,0.8);
    overflow: auto;
    z-index: 9999;
}
.modal-window{
    display: none;
    position: absolute;
    width: 100%;
    padding: 40px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #dbe8f1;
}
.modal-window--small{
    max-width: 360px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.modal-window__close{
    position: absolute;
    top: -25px;
    right: -25px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: url("../img/modal-close.png") no-repeat center center, #c73733;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-shadow:  5px 0px 20px rgba(199,55,51,0.5);
    -moz-box-shadow:  5px 0px 20px rgba(199,55,51,0.5);
    box-shadow:  5px 0px 20px rgba(199,55,51,0.5);
    cursor: pointer;
}
.modal-row{
    margin-top: 20px;
}
.modal-window-small__header{
    text-align: center;
    margin-top: -10px;
}
.modal-window__title{
    font-family:'Gotham Pro Bold';
    font-size: 30px;
}
.modal-window__subtitle{
    font-family:'Gotham Pro Bold';
    font-size: 16px;
    line-height: 1.4em;
}
.modal-window--big{
    max-width: 945px;
    /*height: 620px;*/
    top: 5%;
    left: 50%;
    -webkit-transform: translate(-50%, -0%);
    -moz-transform: translate(-50%, -0%);
    -ms-transform: translate(-50%, -0%);
    -o-transform: translate(-50%, -0%);
    transform: translate(-50%, -0%);
}
.modal-window__top{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.modal-window__header{
    width: 326px;
}
.modal-window__search{
    width: 514px;
}
.modal-window-list{
    display: flex;
    flex-wrap: wrap;
    max-height: 476px;
    margin-top: 20px;
    overflow: auto;
}
.modal-window-list__block{
    width: 20%;
}
.modal-window-list__item{
    margin-bottom: 28px;
    font-size: 16px;
}
.modal-window-list__heading{
    margin-bottom: 10px;
    font-family:'Gotham Pro Bold';
    color: #222222;
}
.modal-window-list__link{
    display: inline-block;
    margin-bottom: 10px;
    color: #222222;
}
.modal-window-list__link:hover{
    color: #c73733;
}
.modal-window--huge{
    max-width: 1005px;
    top: 5%;
    left: 50%;
    -webkit-transform: translate(-50%, -0%);
    -moz-transform: translate(-50%, -0%);
    -ms-transform: translate(-50%, -0%);
    -o-transform: translate(-50%, -0%);
    transform: translate(-50%, -0%);
}
.modal-window-countries{
    display: flex;
    flex-wrap: wrap;
    max-height: 400px;
    margin-top: 20px;
    overflow: auto;
}
.modal-window-countries__block{
    width: 50%;
}
.modal-window-countries__item{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 12px;
    font-size: 14px;
    color: #222222;
}
.modal-window-countries__flag{
    width: 22px;
    height: 16px;
}
.modal-window-countries__name{
    padding-left: 15px;
}
.modal-window-countries__info{
    margin-left: auto;
    padding-left: 15px;
}
.modal-window-countries__action{
    padding: 0 15px;
}
.modal-window-countries__link{
    color: #c73733;
    text-decoration: underline;
}
.mCSB_scrollTools{
    width: 23px;
    opacity: 1;
}
.mCSB_inside > .mCSB_container {
    display: flex;
    flex-wrap: wrap;
    margin-right: 23px;
}
#mCSB_1_scrollbar_vertical .mCSB_dragger{
    width: 23px;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
    width: 23px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 10px;
}
.mCSB_scrollTools .mCSB_draggerRail{
    width: 1px;
    background-color: #ffffff;
}
.mCSB_dragger .mCSB_dragger_bar{ background-color: #c73733 !important; }
/*Spam*/
.spam{
    position: absolute;
}
.spam--1{
    top: 0;
    left: 0;
}
.spam--2{
    top: 665px;
    right: 0;
}
.spam--3{
    bottom: -60px;
    left: 0;
}
.spam--4{
    top: 110px;
    right: 0;
}
.spam--5{
    top: -90px;
    right: 0;
}
.spam--6{
    top: -108px;
    left: 0;
}
/*Country*/
.country-top-screen__title{
    font-family:'Gotham Pro Bold';
    font-size: 50px;
    color: #ffffff;
}
.header--country-1{
    background: url(../img/header-bg-country-1.jpg) no-repeat center top;
}
.country-text{
    position: relative;
    margin: 90px 0 60px 0;
}
.country-text__title{
    margin-bottom: 35px;
    font-family:'Gotham Pro Bold';
    font-size: 40px;
    color: #222222;
}
.country-text__small-title{
    margin-bottom: 15px;
    font-family:'Gotham Pro Bold';
    font-size: 16px;
    color: #222222;
}
.country-text__padding{
    padding: 0 15px;
}
.country-text__paragraph{
    margin-bottom: 15px;
    font-size: 13px;
    color: #222222;
}
.country-text__list-wrapper{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 80px;
}
.country-text__list{
    width: 50%;
    padding: 0 15px;
}
.country-text__list-item{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 13px;
    color: #222222;
}
.country-text__endblock{
    margin-bottom: 80px;
}
.country-text__cards{
    display: flex;
    flex-wrap: wrap;
}
.country-text__cards-item{
    width: 33.33333333%;
    padding: 0 15px;
    margin-bottom: 30px;
}
.country-text-card{
    height: 100%;
    min-height: 140px;
    padding: 30px;
    -webkit-box-shadow:  0px 5px 20px rgba(31,76,105,0.05);
    -moz-box-shadow:  0px 5px 20px rgba(31,76,105,0.05);
    box-shadow:  0px 5px 20px rgba(31,76,105,0.05);
}
.country-text-card:after {
    width: 140px;
    height: 140px;
}
.country-text-card:before {
    width: 100px;
    height: 100px;
}
.country-text-card__main{
    display: flex;
}
.country-text-card__name{
    font-family:'Gotham Pro Bold';
    font-size: 16px;
    color: #222222;
}
.country-text-card__description{
    margin-top: 10px;
    font-size: 13px;
    color: #666666;
}
.country-text__cards-after{
    padding: 0 15px;
    font-family:'Gotham Pro Bold';
    font-size: 16px;
    color: #222222;
}
.visa-check__title{
    width: 585px;
}
.btn--country-visa-check{
    width: 180px;
    margin-left: 15px;
}
.counrty-visa-check__inner{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 15px;
}
.country-visa-check__subtitle{
    margin-top: 5px;
    font-family:'Gotham Pro';
    font-size: 16px;
    color: #0d1d50;
}
.country-documents{
    padding-bottom: 95px;
}
.country-seo{
    padding-bottom: 80px;
}
.country-seo__inner{
    padding: 0 15px;
}
.country-seo__paragragh{
    margin: 0 0 10px 0;
    font-size: 13px;
    color: #222222;
}